* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
  background-color: rgba(0, 128, 128, 0.356);
}
.container {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}
.container button {
  height: 40px;
  width: 40px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.575);
  border: none;
  border-radius: 5px;
  color: #fff;
}

#prev{
    position: absolute;
    top: 50%;
    left: 0;
}
#next{
    position: absolute;
    top: 50%;
    right: 0;
}

button:hover {
  background: #000;
  cursor: pointer;
}

img {
  width: 500px;
  height: 500px;
  display: none;
}
.active {
  display: block;
}
.img-container {
  font-size: 3rem;
  color: #fff;
}
